# Change these to match a Supabase Prisma setup.
# 'DATABASE_URL' is the runtime connection (pooler for Supabase)
# 'DIRECT_URL' is the direct PostgreSQL connection (used by Prisma migrations)
# If using local Postgres or Docker, put connection string in both 'DIRECT_URL' and 'DATABASE_URL' 
DATABASE_URL="your_postgres_connection_uri"
DIRECT_URL="your_postgres_connection_uri"

# The secret keys used to sign JWT tokens.
ACCESS_JWT_SECRET="secret-change-in-production-min-32-chars"

# How long access tokens are valid. Formats: 15m, 1h, 7d
ACCESS_JWT_EXPIRES_IN=""

# App settings
PORT="your-app-port"
HOST="your-app-host"

# the current working environment ("development", "production", "test")
NODE_ENV="development"
LOG_LEVEL="debug"
FRONTEND_URL=""

# redis variables
REDIS_URL="your-redis-url"
REDIS_PASSWORD="your-redis-password-if-present"